/* //NOTE Page styling */

.title-wrapper {
    background-color: #99262A;
    color: #ffffff;
}
.page-title-container {
    display: table;
    height: 75px;
}
.page-title-container h1 {
    display: table-cell;
    vertical-align: middle;
}
.main-wrapper {
    padding: 50px 0px;
}
#pagination-container {
    text-align: center;
}

/* End Blog Page Content Styling */


/* //NOTE Sidebar Right Styling */

#sidebar-right .widget {
    background-color: #202121;
    color: #FFFFFF;
    padding: 15px;
    margin-bottom: 20px;
}
#sidebar-right .widget .widget-title {
    margin-top: 0px;
    text-align: center;
}
#sidebar-right .widget ul {
    padding-left: 15px;
}

/* End Sidebar Right Styling */


/* //NOTE Added Bootstrap Functionality */

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a:focus {
    outline: none !important;
}