footer {
    .footer-widgets-container {
        background-color: #202121;
        color: #ffffff;
        .footer-sidebar {
            margin-top: 2em;
        }
    }
    .footer-copywrite {
        text-align: center;
        padding: 2em 0;
        background: #111111;
        border-top: solid 1px #333333;
    }
}