.clearfix {
    overflow: auto;
    zoom: 1;
}
#tabs {
    background-color: #ffffff;
}
#tabs ul {
    float: left;
    margin: 0px;
    background-color: #333333;
    width: 20%;
}
#tabs ul li {
    margin-bottom: 0px;
}
#tabs ul .ui-state-active {
    background-color: #333333;
    position: relative;
}
#tabs ul .ui-state-active a {
    color: #ffffff;
}
#tabs ul .ui-state-active:after {
    right: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 15px;
    margin-top: -15px;
}
#tabs ul .ui-state-active a:hover {
    background-color: #333333;
}
#tabs ul > li > a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 1em 2em 1em 1em;
    border-bottom: 1px solid #ffffff;
}
#tabs ul > li > a:hover {
    background-color: #1e73be;
}
a:focus {
    box-shadow: none;
}
.ui-tabs-panel {
    float: left;
    margin: 0px;
    padding: 0em 2%;
    width: 76%;
}
.ui-tabs-panel th {
    padding: 0em 2em 0em 0em;
}
table {
    text-align: left;
}
#tabs h2 {
    padding: 1em;
    background-color: #f1f1f1;
}
#tabs .settings-option {
    border-bottom: 2px solid #e1e1e1;
}
#tabs .settings-option .option-title {
    display: inline-block;
    margin-right: 3em;
}

/* Color Picker Styling */

.wp-color-result {
    box-shadow: none;
    border-radius: 0;
    vertical-align: middle;
}
.wp-color-result::after {
    border-radius: 0;
}
.wp-picker-container input.wp-color-picker[type="text"]:focus {
    box-shadow: none;
    border-color: #dddddd;
}
.wp-picker-input-wrap .button {
    box-shadow: none;
    border-radius: 0;
}