.clearfix {
    overflow: auto;
    zoom: 1;
}
#tabs ul {
    float: left;
    margin: 0px;
    background-color: #333333;
}
#tabs ul li {
    margin-bottom: 0px;
}
#tabs ul .ui-state-active {
    background-color: #1e73be;
}
#tabs ul > li > a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-bottom: 1px solid #ffffff;
}
#tabs ul > li > a:hover {
    background-color: #1e73be;
}
a:focus {
    box-shadow: none;
}
.ui-tabs-panel {
    float: left;
    margin: 0px;
    padding: 1em;
    background-color: #ffffff;
}
table {
    text-align: left;
}
@media (max-width: 61.9em) {
    #tabs ul {
        float: none;
    }
    .ui-tabs-panel {
        float: none;
    }
}